.container {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .images-header {
    display: flex;
    width: 100%;
    padding: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #000, transparent);
    z-index: 98;

    & h1 {
      color: #fff;
      margin-bottom: 2rem;
    }
  }
  & .images-container {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    & .images-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 0;

      & .image-item {
        display: flex;
        list-style: none;
        width: 100%;
        height: 100%;
        transition: filter 0.3s;
        aspect-ratio: 1/1;
        position: relative;
        user-select: none;

        .maximize {
          display: flex;
          align-items:center ;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          background-color: #ffffff;
          opacity: 0.3;
          transition: all .3s;
          cursor: pointer;
        }

        .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #00000080;
          opacity: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .3s;

          & svg {
            cursor: pointer;
            stroke: #fff;
            transition: all .3s;
          }

          &.--liked {
            & svg {
              stroke: #fb607f;
              fill: #fb607f;
            }
          }
        }

        &:hover {
          .maximize {
            opacity: 1;
          }
         .overlay {
          opacity: 1;
         }
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;        }
      }
    }
  }
}